### Data Kemdikbud scraper

Because somehow they make it very painful to just download the data.

In [1]:
import urllib
from bs4 import BeautifulSoup
import pandas as pd

C:\Anaconda2\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

Get list of kabupaten/kota

In [2]:
master = urllib.urlopen("http://sekolah.data.kemdikbud.go.id/index.php/cpetasebaran/index/000000/")
mastersoup = BeautifulSoup(master)

C:\Anaconda2\lib\site-packages\bs4\__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [3]:
list_daerah=[]
for opt in mastersoup.find_all('option'):
    daerah={}
    sc_code = opt.get('value')
    if sc_code:
        daerah["code"]=sc_code
        daerah["name"]=''.join(opt.findAll(text=True))
        list_daerah.append(daerah)
list_daerah = list_daerah[:-8]
list_daerah

[{'code': '060000', 'name': u'Prop. Aceh'},
 {'code': '220000', 'name': u'Prop. Bali'},
 {'code': '290000', 'name': u'Prop. Bangka Belitung'},
 {'code': '280000', 'name': u'Prop. Banten'},
 {'code': '260000', 'name': u'Prop. Bengkulu'},
 {'code': '040000', 'name': u'Prop. D.I. Yogyakarta'},
 {'code': '010000', 'name': u'Prop. D.K.I. Jakarta'},
 {'code': '300000', 'name': u'Prop. Gorontalo'},
 {'code': '100000', 'name': u'Prop. Jambi'},
 {'code': '020000', 'name': u'Prop. Jawa Barat'},
 {'code': '030000', 'name': u'Prop. Jawa Tengah'},
 {'code': '050000', 'name': u'Prop. Jawa Timur'},
 {'code': '130000', 'name': u'Prop. Kalimantan Barat'},
 {'code': '150000', 'name': u'Prop. Kalimantan Selatan'},
 {'code': '140000', 'name': u'Prop. Kalimantan Tengah'},
 {'code': '160000', 'name': u'Prop. Kalimantan Timur'},
 {'code': '340000', 'name': u'Prop. Kalimantan Utara'},
 {'code': '310000', 'name': u'Prop. Kepulauan Riau'},
 {'code': '120000', 'name': u'Prop. Lampung'},
 {'code': '210000', 'name': u'Prop. Maluku'},
 {'code': '270000', 'name': u'Prop. Maluku Utara'},
 {'code': '230000', 'name': u'Prop. Nusa Tenggara Barat'},
 {'code': '240000', 'name': u'Prop. Nusa Tenggara Timur'},
 {'code': '250000', 'name': u'Prop. Papua'},
 {'code': '320000', 'name': u'Prop. Papua Barat'},
 {'code': '090000', 'name': u'Prop. Riau'},
 {'code': '330000', 'name': u'Prop. Sulawesi Barat'},
 {'code': '190000', 'name': u'Prop. Sulawesi Selatan'},
 {'code': '180000', 'name': u'Prop. Sulawesi Tengah'},
 {'code': '200000', 'name': u'Prop. Sulawesi Tenggara'},
 {'code': '170000', 'name': u'Prop. Sulawesi Utara'}]

In [6]:
codelist = [item['code'] for item in list_daerah]
codelist

['060000',
 '220000',
 '290000',
 '280000',
 '260000',
 '040000',
 '010000',
 '300000',
 '100000',
 '020000',
 '030000',
 '050000',
 '130000',
 '150000',
 '140000',
 '160000',
 '340000',
 '310000',
 '120000',
 '210000',
 '270000',
 '230000',
 '240000',
 '250000',
 '320000',
 '090000',
 '330000',
 '190000',
 '180000',
 '200000',
 '170000']

Scrape marker in the response

In [13]:
#test: jakarta, SD
URL = "http://sekolah.data.kemdikbud.go.id/index.php/cpetasebaran/index/"
f = urllib.urlopen("http://sekolah.data.kemdikbud.go.id/index.php/cpetasebaran/index/020000/SD") 
soup = BeautifulSoup(f)
#sc = soup.find_all('script')
#sc

In [24]:
sc = soup.title.string
if not sc == "Database Error":
    print("")

In [6]:
sc_c = sc.strip(' \t\n\r').split(";")
sc_arr = []
for s in sc_c:
    sc_arr.append(s.strip(' \t\n\r'))

In [7]:
sc_name=[]
sc_latlong=[]
for line in sc_arr:
    school={}
    if "NPSN" in line:
        #url
        school["url"] = line.split("=")[7][25:61]
        #NPSN
        school["npsn"]= line.split("=")[5][36:44]
        #nama
        sc_str = line.split("=")[8]
        school["name"] = sc_str[9:sc_str.find("</a")] 
        sc_name.append(school)   
    if "latLng" in line:
        latlng = line.split("ng(")[1][0:20].split(",")
        school["lat"] = latlng[0]
        school["long"] = latlng[1]
        sc_latlong.append(school)
#merge two dict list
for n, l in zip(sc_name,sc_latlong):
    n.update(l)

load into pandas dataframe

In [8]:
d = pd.DataFrame.from_dict(sc_name)

In [9]:
d.head()

,lat,long,name,npsn,url
0,.9590000,112.9798000,SD NEGERI 29 TANJUNG JATI,30103050,A0EA3E8E-13B5-E111-A5F1-43EF2009C94F
1,1.3384000,113.343500,SD NEGERI 05 KENEPAI KOMPLEK,30103216,C0EC0D09-30F5-E011-BB31-77ED21DFD3A0
2,.2571000,110.0809000,SD NEGERI 54 SENDAUN,30104473,C0024309-30F5-E011-887A-FB1D0F86FC3B
3,-.0411000,110.370300,SD NEGERI 15 MELOBOH,30102162,709FED08-30F5-E011-8423-AFA413B369AC
4,.6046000,112.6671000,SD NEGERI 19 SIMPANG 4 NANGA SURUK,30102957,20C90509-30F5-E011-BFD5-CD46218A8A79

In [10]:
d['level'] = "SD"
#d_smp['level'] = "SMP"
#d_sma['level'] = "SMA"
#d_smk['level'] = "SMK"
#d_all = pd.concat([d,d_smp,d_sma,d_smk])
d.head()

,lat,long,name,npsn,url,level
0,.9590000,112.9798000,SD NEGERI 29 TANJUNG JATI,30103050,A0EA3E8E-13B5-E111-A5F1-43EF2009C94F,SD
1,1.3384000,113.343500,SD NEGERI 05 KENEPAI KOMPLEK,30103216,C0EC0D09-30F5-E011-BB31-77ED21DFD3A0,SD
2,.2571000,110.0809000,SD NEGERI 54 SENDAUN,30104473,C0024309-30F5-E011-887A-FB1D0F86FC3B,SD
3,-.0411000,110.370300,SD NEGERI 15 MELOBOH,30102162,709FED08-30F5-E011-8423-AFA413B369AC,SD
4,.6046000,112.6671000,SD NEGERI 19 SIMPANG 4 NANGA SURUK,30102957,20C90509-30F5-E011-BFD5-CD46218A8A79,SD

In [52]:
#assuming separate dataframe are made for each level
d_all = pd.concat([d,d_smp,d_sma,d_smk])

In [11]:
d.to_csv("kalbar.csv")